version: '2'

services:
    registry:
        command: -server -bootstrap -rejoin #-advertise=$DOCKER_IP
        image: progrium/consul:latest
        ports:
            - "8300:8300"
            - "8400:8400"
            - "8500:8500"
            - "8600:53/udp"
    srv:
        build: .
        image: docker-micro
        command: --registry_address=registry:8500
        depends_on:
            - registry

    api:
        image: microhq/micro:latest
        command: --registry_address=registry:8500 api
        ports:
            - "8080:8080"